<ng-container *ngIf="product.length != 0">
  <div class="container">
    <div class="card-table">
      <div class="card-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>ID</th>
              <th>Product</th>
              <th>Description</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of product; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.price | currency: "EUR" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <h3 class="text-center">
    <i class="bi bi-arrow-down"></i><i class="bi bi-arrow-down"></i
    ><i class="bi bi-arrow-down"></i><i class="bi bi-arrow-down"></i
    ><i class="bi bi-arrow-down"></i><i class="bi bi-arrow-down"></i>
  </h3>

<app-form></app-form>


</ng-container>

<ng-container *ngIf="product.length == 0">
  <div class="container text-center">
    <div class="card">
      <h5 class="card-title">
        <i class="bi bi-cart"></i> Your Cart <i class="bi bi-cart"></i>
      </h5>
    </div>
    <div class="img-fluid"><img src="assets/img/emptycart.png" alt="" /></div>
  </div>
</ng-container>
